################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentsManagementWebApi/.vs/StudentManagementWebApi
/StudentsManagementWebApi/obj
/StudentsManagementWebApi/.vs/ProjectEvaluation
